/* header and nav layout */
header .nav-wrapper {
	background: var(--nav-gradient);
	color: var(--light-color);
	width: 100%;
	z-index: 2;
	position: absolute;
	transition: background-color 500ms ease-in-out 0s;
  }

  header .nav-wrapper:hover {
	background: var(--light-color);
	transition: background-color 500ms ease-in-out 0s;
	color: var(--dark-color);
  }
  
  header nav#nav {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
	gap: 0 2em;
	margin: auto;
	max-width: 1264px;
	height: var(--nav-height);
	padding: 0 1rem;
	font-family: var(--body-font-family);
  }
  
  header nav#nav[aria-expanded="true"] {
	min-height: 100vh;
  }
  
  @media (width >= 600px) {
	header nav#nav {
	  padding: 0 2rem;
	}
  }
    
  header nav#nav p {
	margin: 0;
	line-height: 1;
  }
  
  header nav#nav a:any-link {
	color: currentcolor;
	display: block;
  }
  
  /* hamburger */
  header nav#nav .nav-hamburger {
	grid-column: 1/ span 1;
	grid-row: 1;
	height: 22px;
	display: flex;
	align-items: center;
  }
  
  header nav#nav .nav-hamburger button {
	height: 22px;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	background-color: transparent;
	color: inherit;
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
  }
  
  header nav#nav .nav-hamburger-icon,
  header nav#nav .nav-hamburger-icon::before,
  header nav#nav .nav-hamburger-icon::after {
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 20px;
  }
  
  header nav#nav .nav-hamburger-icon::before,
  header nav#nav .nav-hamburger-icon::after {
	content: "";
	position: absolute;
	background: currentcolor;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	height: 2px;
	border-radius: 2px;
	background: currentcolor;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
	top: -6px;
  }
  
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
	top: 6px;
  }
  
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
	height: 22px;
  }
  
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: 3px;
	left: 1px;
	transform: rotate(45deg);
	transform-origin: 2px 1px;
	width: 24px;
	height: 2px;
	border-radius: 2px;
  }
  
  header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: unset;
	bottom: 3px;
	transform: rotate(-45deg);
  }
    
  /* brand */
  header .nav-brand {
	grid-column: 2/ span 7;
	grid-row: 1;
	font-size: var(--heading-font-size-s);
	font-weight: 700;
	line-height: 1;
	border: solid 2px cyan;
  }
  
  header .nav-brand p:first-of-type {
	border: solid 1px blue;
	color: #D4D2CF;
	border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	width: fit-content;
	font-size: 1.0833333333333333rem;
    font-style: normal;
	margin-left: 12px;
    padding-left: 32px;
	width: 134px;
	/* border-radius: ; */
  }

  /* header nav#nav .nav-brand img {
	width: 128px;
	height: auto;
  } */
  
  /* sections */
  header nav#nav .nav-sections {
	grid-row: 3;
	grid-column: 1/ span 8;
	/* flex: 1 1 auto; */
	display: none;
	visibility: hidden;
	border: solid 2px orange;
  }
  
  header nav#nav[aria-expanded="true"] .nav-sections {
	display: block;
	visibility: visible;
	align-self: start;
	border: solid 2px lime;
  }
  
  header nav#nav .nav-sections ul {
	list-style: none;
	padding-left: 0;
	font-size: var(--body-font-size-s);
	font-weight: 500;

  }
  
  header nav#nav .nav-sections ul > li {
	font-weight: 700;
  }
  
  header nav#nav .nav-sections ul > li > ul {
	margin-top: 0;
  }
  
  header nav#nav .nav-sections ul > li > ul > li {
	font-weight: 500;
  }
  
  @media (width >= 900px) {
	/* header nav#nav .nav-sections {
	  display: block;
	  visibility: visible;
	  white-space: nowrap;
	} */
  
	header nav#nav a:any-link {
	  display: block;
	}
  
	header nav#nav[aria-expanded="true"] .nav-sections {
	  align-self: unset;
	}
  
	header nav#nav .nav-sections .nav-drop {
	  position: relative;
	  padding-right: 16px;
	  cursor: pointer;
	  z-index: 10;
	}
  
	header nav#nav .nav-sections .nav-drop::after {
	  content: "";
	  display: inline-block;
	  position: absolute;
	  top: 0.5em;
	  right: 2px;
	  transform: rotate(135deg);
	  width: 6px;
	  height: 6px;
	  border: 2px solid currentcolor;
	  border-radius: 0 1px 0 0;
	  border-width: 2px 2px 0 0;
	}
  
	header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
	  top: unset;
	  bottom: 0.5em;
	  transform: rotate(315deg);
	}
  
	header nav#nav .nav-sections ul {
	  display: flex;
	  gap: 2em;
	  margin: 0;
	  font-size: var(--body-font-size-xs);
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li {
	  flex: 0 1 auto;
	  position: relative;
	  font-weight: 500;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul {
	  display: none;
	  position: relative;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
	  display: block;
	  position: absolute;
	  left: -1em;
	  width: 200px;
	  margin-top: 12px;
	  padding: 1em;
	  background-color: var(--light-color);
	  white-space: initial;
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul::before {
	  content: "";
	  position: absolute;
	  top: -8px;
	  left: 8px;
	  width: 0;
	  height: 0;
	  border-left: 8px solid transparent;
	  border-right: 8px solid transparent;
	  border-bottom: 8px solid var(--light-color);
	}
  
	header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li {
	  padding: 8px 0;
	}
  }
  
  /* tools */
  header nav#nav .nav-tools {
	grid-row: 2;
	grid-column: 1/ span 8;
  }
  
  header nav#nav .nav-tools ul {
	display: flex;
	justify-content: space-between;
	margin: 14px 0;
	padding: 0;
  }

  header nav#nav .nav-tools ul li {
	font-family: rhc-roman;
	font-size: 13px;
    letter-spacing: 0.05em;
	font-weight: 400;
    text-transform: uppercase;
	padding: 8px 0 0 0;
	margin-top: -8px;
  }


  header nav#nav .nav-tools ul li strong {
	color: var(--sale-color) !important;
	font-weight: normal;
  }


  /* breadcrumbs */
  header .breadcrumbs {
	display: none;
	padding: 0 32px;
	width: 100%;
	height: var(--breadcrumbs-height);
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	font-size: var(--breadcrumbs-font-size);
  }
  
  header .breadcrumbs ol {
	display: flex;
	flex-flow: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	gap: 1ch;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  header .breadcrumbs ol li {
	padding-inline-start: 0;
	opacity: 0.7;
  }
  
  header .breadcrumbs ol li:not(:last-child)::after {
	content: "/";
	padding-left: 1ch;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  header .breadcrumbs ol li a:any-link {
	color: var(--text-color);
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  header .breadcrumbs ol li:last-of-type {
	opacity: 1;
  }
  
  @media screen and (width >= 900px) {
	header .breadcrumbs {
	  display: block;
	}
  }